{% load static tailwind_tags %}

<div class="flex w-full py-3 mt-auto bg-white border-t-4 border-collapse shadow-inner justify-evenly h-fit border-off">
  <div class="h-full m-auto">
    <a href="https://ceres.rub.de/de/" target="_blank"><img src="{% static 'images/logos/ceres.png' %}" alt="Ceres" class="object-scale-down w-3/4 h-16 max-w-sm mx-auto rounded-md shadow-sm cursor-pointer sm:w-3/4 md:w-11/12 lg:w-full opacity-60 hover:opacity-100 hover:shadow-xl" /></a>
  </div>
  <div class="h-full m-auto">
    <a href="https://www.geschkult.fu-berlin.de/e/iranistik/index.html" target="_blank"><img src="{% static 'images/logos/fub.svg' %}" alt="FUB" class="object-scale-down w-3/4 h-16 max-w-sm mx-auto rounded-md shadow-sm cursor-pointer sm:w-3/4 md:w-11/12 lg:w-full opacity-60 hover:opacity-100 hover:shadow-xl" /></a>
  </div>
  <div class="h-full m-auto">
    <a href="https://cceh.uni-koeln.de/" target="_blank"><img src="{% static 'images/logos/cceh-logo.svg' %}" alt="CCeH" class="object-scale-down w-3/4 h-16 max-w-sm mx-auto rounded-md shadow-sm cursor-pointer sm:w-3/4 md:w-11/12 lg:w-full opacity-60 hover:opacity-100 hover:shadow-xl" /></a>
  </div>
  <div class="h-full m-auto">
    <a href="https://gepris.dfg.de/gepris/projekt/452473565?context=projekt&task=showDetail&id=452473565&" target="_blank"><img src="{% static 'images/logos/dfg.png' %}" alt="DFG" class="object-scale-down w-3/4 h-16 max-w-sm mx-auto rounded-md shadow-sm cursor-pointer sm:w-3/4 md:w-11/12 lg:w-full opacity-60 hover:opacity-100 hover:shadow-xl" /></a>
  </div>
</div>
