{% load static i18n %}
{% load static tailwind_tags %}

<div class="navbar-smart:hidden flex w-full h-12 min-h-[3rem] bg-white">
  <div class="inline-block px-2 m-auto overflow-hidden text-center cursor-pointer group">
    <a class="p-2 text-center capitalize cursor-pointer group-hover:text-off font-Helvetica text-main-dark hover:text-off">Methodology</a>
    {% comment %} <div class="group-hover:flex absolute hidden z-[1] flex-col bg-white border-[1px] rounded-md dark:border-gray-600">
      <a class="p-2 text-center capitalize cursor-pointer font-Helvetica text-main-dark hover:text-off"></a>
    </div> {% endcomment %}
  </div>
  <div class="inline-block px-2 m-auto overflow-hidden text-center cursor-pointer group">
    <a class="p-2 text-center capitalize cursor-pointer group-hover:text-off font-Helvetica text-main-dark hover:text-off">Technology</a>
  </div>
  <div class="inline-block px-2 m-auto overflow-hidden text-center cursor-pointer group">
    <a class="p-2 text-center capitalize cursor-pointer group-hover:text-off font-Helvetica text-main-dark hover:text-off">Resources</a>
  </div>
  <div class="inline-block px-2 m-auto overflow-hidden text-center cursor-pointer group">
    <a class="p-2 text-center capitalize cursor-pointer group-hover:text-off font-Helvetica text-main-dark hover:text-off">Team</a>
  </div>
</div>
