{% load static %}
<div id="search-page-container" class="flex flex-col">
    <div id="search" class="flex flex-col">
        <button id="toggle-search" class="h-12 font-semibold">
            <h3>Search</h3>
        </button>
        <div id="search-type" class="flex flex-row gap-4 items-center m-4">
            <select id="search-type-selection" name="layout_selection" hx-get="{% url 'search:search' %}" hx-target="#search-page-container" hx-swap="outerHTML">
                <option value="logical" {% if layout_selection == "logical" %}selected{% endif %}>Logical operators</option>
                <option value="distance" {% if layout_selection == "distance" %}selected{% endif %}>Token distance</option>
            </select>
            <label class="font-bold text-gray-900 whitespace-normal">Search tokens
                {% if layout_selection == "distance" %}by looking for entries with a specific distance between them{% endif %}
                {% if layout_selection == "logical" %}by combining queries using logical operators{% endif %}
            </label>
        </div>
        <div id="search-forms" class="overflow-x-auto text-center">
            {% include "search/formset.html" %}
        </div>
    </div>
    <div id="results" class="flex flex-col">
        <button id="toggle-results" class="h-12 font-semibold">
            <h3>Results</h3>
        </button>
        <div id="loadingIndicator" class="loading-indicator flex flex-row justify-center">
            <img class="m-6 h-20 w-20" src="{% static 'search/three-dots.svg' %}"/>
        </div>
        <div id="results-list" class="flex flex-col">
        </div>
    </div>
</div>
<script>
  const addForm = (buttonElement) => {
  const currentForm = buttonElement.parentElement.parentElement.id
  // console.log("Button pressed on form:", currentForm)
  // const formSet = document.getElementById('form_set')

  const formsCountElement = document.getElementById('id_form-TOTAL_FORMS')
  const formsCount = parseInt(formsCountElement.value)

  const emptyFormHtml = document.getElementById('empty-form').innerHTML
  const uniqueId = Date.now() + Math.random().toString(36).substring(2, 11);

  let newFormHtml = emptyFormHtml
    .replace(/__prefix__/g, formsCount)
    .replace('<div', `<div id="form-${uniqueId}"`)

  document.getElementById(currentForm).insertAdjacentHTML('afterend', newFormHtml)          
  formsCountElement.value = formsCount + 1
}

const removeForm = (buttonElement) => {
  const formToRemove = buttonElement.parentElement.parentElement;
  const formsCountElement = document.getElementById('id_form-TOTAL_FORMS');
  const formsCount = parseInt(formsCountElement.value);
  
  if (formsCount > 1) {
    formToRemove.remove();
    formsCountElement.value = formsCount - 1;
  }
}
</script>