{% load static %}
<div id="search-page-container" class="flex flex-col gap-4 p-4">
    <div id="search" class="flex flex-col border shadow shadow-black/10">
        <div class="flex items-center justify-center w-full h-12 font-semibold shadow shadow-black/10">
            <h3>Search</h3>
        </div>
        <div id="search-type" class="flex flex-row items-center gap-4 m-4">
            <select id="search-type-selection" class="rounded" name="layout_selection" hx-get="{% url 'search:search' %}" hx-target="#search-page-container" hx-swap="outerHTML">
                <option value="logical" {% if layout_selection == "logical" %}selected{% endif %}>Logical operators</option>
                <option value="distance" {% if layout_selection == "distance" %}selected{% endif %}>Token distance</option>
            </select>
            <label class="font-bold text-gray-900 whitespace-nowrap">
                Search tokens
                {% if layout_selection == "distance" %}by looking for entries with a specific distance between them{% endif %}
                {% if layout_selection == "logical" %}by combining queries using logical operators{% endif %}
            </label>
        </div>
        <div id="search-forms" class="overflow-x-auto text-center">
            {% include "search/formset.html" %}
        </div>
    </div>
    <div id="results" class="flex flex-col border shadow shadow-black/10">
        <div class="flex items-center justify-center w-full h-12 font-semibold shadow shadow-black/10">
            <h3>Results</h3>
        </div>
        <div id="loadingIndicator" class="flex-row justify-center hidden">
            <img class="w-20 h-20 m-6" src="{% static 'search/three-dots.svg' %}" />
        </div>
        <div id="results-list" class="flex flex-col">
        </div>
    </div>
</div>

<script>
  const addForm = (buttonElement) => {
    const currentForm = buttonElement.parentElement.parentElement.id;
    const formsCountElement = document.getElementById('id_form-TOTAL_FORMS');
    const formsCount = parseInt(formsCountElement.value);
    const emptyFormHtml = document.getElementById('empty-form').innerHTML;
    const uniqueId = Date.now() + Math.random().toString(36).substring(2, 11);

    let newFormHtml = emptyFormHtml
      .replace(/__prefix__/g, formsCount)
      .replace('<div', `<div id="form-${uniqueId}"`);

    document.getElementById(currentForm).insertAdjacentHTML('afterend', newFormHtml);
    formsCountElement.value = formsCount + 1;
  }

  const removeForm = (buttonElement) => {
    const formToRemove = buttonElement.parentElement.parentElement;
    const formsCountElement = document.getElementById('id_form-TOTAL_FORMS');
    const formsCount = parseInt(formsCountElement.value);

    if (formsCount > 1) {
      formToRemove.remove();
      formsCountElement.value = formsCount - 1;
    }
  }

  const activateLoadingSVG = () => {
    const loadingIndicator = document.getElementById('loadingIndicator');
    if (loadingIndicator.classList.contains('hidden')) {
      loadingIndicator.classList.remove('hidden');
      loadingIndicator.classList.add('flex');
    }
  }

  const deactivateLoadingSVG = () => {
    const loadingIndicator = document.getElementById('loadingIndicator');
    if (loadingIndicator.classList.contains('flex')) {
      loadingIndicator.classList.remove('flex');
      loadingIndicator.classList.add('hidden');
    }
  }

  document.body.addEventListener('htmx:afterSwap', function () {
    deactivateLoadingSVG();
  });
</script>
