{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
  <div class="flex flex-row overflow-hidden">
    <div class="flex flex-col gap-2 m-2">
      <div class="rounded-md shadow-sm shadow-black">
        <input type="text" class="p-2 rounded-md" placeholder="Search..." />
      </div>
      <div id="lemma-list" class="flex flex-col w-full h-full gap-1 overflow-y-scroll rounded-md shadow-sm shadow-black scrollbar-thin">
        {% for lemma in lemmas %}
          <div hx-get="{% url 'dict:lemma_details' lemma.id %}" hx-target="#lemma-details" onclick="selection(this)" class="p-1 m-1 mb-0 text-center rounded-sm shadow-sm cursor-pointer hover:text-white hover:bg-action shadow-black scroll-m-1">{{ lemma.word }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="w-full overflow-hidden">
      {% comment %}Lemma View{% endcomment %}
      <div id="lemma-details" class="relative p-2 m-2 rounded-md shadow-sm bg-slate-400 shadow-black">
        <div class="text-center">Please wait while a lemma is being loaded.</div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelector('#lemma-list').children[0].click()
    })
    
    function selection(e) {
      const lemmaList = document.querySelector('#lemma-list')
    
      if (lemmaList) {
        lemmaList.childNodes.forEach((child) => {
          if (child.nodeType === Node.ELEMENT_NODE) {
            child.classList.remove('bg-action')
            child.classList.remove('text-white')
          }
        })
      }
    
      e.classList.add('bg-action')
      e.classList.add('text-white')
    
      lemmaList.scrollTo({
        top: e.offsetTop - lemmaList.offsetTop - 5,
        behavior: 'smooth'
      })
    }
  </script>
{% endblock %}
