{% extends 'base.html' %}
{% load static i18n dict_tags %}

{% block content %}
  <div class="flex flex-row h-full overflow-hidden">
    <div class="flex flex-col gap-2 m-2 max-w-[2/5]">
      <div class="flex flex-col gap-0 rounded-md">
        <div class="relative flex flex-row rounded-md shadow-sm shadow-black">
          <input id="search-input" type="text" class="w-full p-2 pr-6 rounded-md" placeholder="{% trans 'Search' %}..." oninput="changeControls(this)" />
          <button id="search-button" class="absolute right-0 flex items-center h-full cursor-pointer rounded-r-md hover:bg-main disabled:pointer-events-none group peer" disabled onclick="search()">
            <svg class="w-6 h-6 text-white fill-main group-disabled:fill-main/40" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </button>
          <span class="absolute z-10 hidden w-16 p-1 text-sm font-semibold text-center text-white rounded-md select-none -right-5 top-[104%] peer-hover:block bg-main">
            <svg class="absolute left-0 w-full h-2 rotate-180 text-main-dark-graded-900 bottom-full" x="0px" y="0px" viewBox="0 0 255 255">
              <polygon class="fill-current" points="0,0 127.5,127.5 255,0" />
            </svg>
            {% trans 'Search' %}
          </span>
        </div>
        {% include 'dictionary_controls.html' %}
      </div>

      <div id="search-settings" class="hidden w-full rounded-md shadow-sm shadow-black">
        <div class="w-full mb-2 text-sm font-semibold text-center">
          {% trans 'Search modes' %}
          <hr class="border-black" />
        </div>
        <div class="flex flex-col gap-1 p-1">
          <label class="inline-flex items-center px-2 rounded-md cursor-pointer hover:bg-slate-300/50">
            <input type="checkbox" value="" class="sr-only peer" onchange="selectSearchMode(this, 'icontains')" />
            <div class="relative w-9 h-5 bg-slate-300 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-main"></div>
            <span class="text-sm ms-3">{% trans 'Contains' %}</span>
          </label>
          <label class="inline-flex items-center px-2 rounded-md cursor-pointer hover:bg-slate-300/50">
            <input type="checkbox" value="" class="sr-only peer" checked onchange="selectSearchMode(this, 'startswith')" />
            <div class="relative w-9 h-5 bg-slate-300 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-main"></div>
            <span class="text-sm ms-3">{% trans 'Starts with' %}</span>
          </label>
          <label class="inline-flex items-center px-2 rounded-md cursor-pointer hover:bg-slate-300/50">
            <input type="checkbox" value="" class="sr-only peer" onchange="selectSearchMode(this, 'endswith')" />
            <div class="relative w-9 h-5 bg-slate-300 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-main"></div>
            <span class="text-sm ms-3">{% trans 'Ends with' %}</span>
          </label>
          <label class="inline-flex items-center px-2 rounded-md cursor-pointer hover:bg-slate-300/50">
            <input type="checkbox" value="" class="sr-only peer" onchange="selectSearchMode(this, 'iexact')" />
            <div class="relative w-9 h-5 bg-slate-300 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-main"></div>
            <span class="text-sm ms-3">{% trans 'Exact' %}</span>
          </label>
          <label class="inline-flex items-center px-2 rounded-md cursor-pointer hover:bg-slate-300/50">
            <input type="checkbox" value="" class="sr-only peer" onchange="selectSearchMode(this, 'regex')" />
            <div class="relative w-9 h-5 bg-slate-300 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-main"></div>
            <span class="text-sm ms-3">RegEx</span>
          </label>
          <hr class="my-1 border-black" />
          <label class="inline-flex items-center px-2 rounded-md cursor-pointer hover:bg-slate-300/50">
            <input type="checkbox" value="" class="sr-only peer" onchange="selectSearchMode(this, 'relatives')" />
            <div class="relative w-9 h-5 bg-slate-300 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-main"></div>
            <span class="text-sm ms-3">{% trans 'Relatives' %} <span class="block text-xs">{% trans 'Expects lemma word, e.g. "kirdan"' %}</span></span>
          </label>
        </div>
      </div>

      <div class="flex flex-row gap-2 p-[2px] overflow-y-hidden h-full">
        {% comment %}Alphabet & List{% endcomment %}
        <div id="lemma-alphabet-parent" class="flex flex-col rounded-md shadow-sm shadow-black"></div>
        <div id="lemma-list" class="w-full min-w-[12rem] max-w-lg overflow-y-auto rounded-md shadow-sm shadow-black scrollbar-thin"></div>
      </div>
    </div>
    <div class="flex flex-col w-full mb-2">
      {% comment %}Lemma Details{% endcomment %}
      <div id="lemma-details" class="relative p-2 m-2 overflow-y-auto rounded-md">
        <div class="text-center">
          {% trans 'Please wait while a lemma is being loaded.' %}
        </div>
      </div>
    </div>
  </div>

  <script>
    const DEFAULT_SEARCH_MODE = 'startswith'
    let activeSearchMode
    let currentSearchLetter = 'a'
    
    let activeId
    
    let startUp = true
    let alphabet = new Set()
    
    document.addEventListener('DOMContentLoaded', function () {
      let searchModes = document.getElementById('search-settings').querySelectorAll('label')
      searchModes.forEach((label) => {
        if (label.querySelector('input').checked) {
          activeSearchMode = label.querySelector('input').getAttribute('onchange').split("'")[1]
        }
      })
    
      bootDict()
    })
    
    // HTMX after lemma update
    document.body.addEventListener('htmx:afterSwap', function (event) {
      var targetId = event.detail.target.id
      if (typeof targetId === 'string' && targetId === 'lemma-form' && event.detail.xhr.status === 200) {
        closeLemmaModal()
    
        // Refetching current lemma
        fetch(`/dict/fetch_Lemma/${activeId}/`)
          .then((response) => response.text())
          .then((data) => {
            document.getElementById('lemma-details').innerHTML = data
            htmx.process(document.getElementById('lemma-details'))
          })
          .catch((error) => console.error('Error:', error))
    
        // Refetching lemma list if necessary
        if (!document.getElementById('search-input').value.trim().length > 0) {
          search(currentSearchLetter)
        } else {
          search()
        }
      }
    })
    
    // Enter key search for input
    document.getElementById('search-input').addEventListener('keydown', function (e) {
      if (e.key === 'Enter') {
        e.preventDefault()
        if (!document.getElementById('search-input').value.trim().length > 0) {
          selectSpecificSearchMode(DEFAULT_SEARCH_MODE)
          clearSearch()
          scrollToActive()
          return
        }
        search()
      }
    })
    
    // MARK: Boot
    function bootDict() {
      fetch("{% url 'dict:fetch_alphabet' %}")
        .then((response) => response.json())
        .then((data) => {
          alphabet = new Set()
    
          Object.values(data)[0].forEach((letter) => {
            alphabet.add(letter)
          })
    
          if ('{{lemma_first_letter}}' !== currentSearchLetter && '{{lemma_first_letter}}' !== '') {
            currentSearchLetter = '{{lemma_first_letter}}'
          }
        })
        .finally(() => {
          selectSpecificSearchMode(DEFAULT_SEARCH_MODE)
          clearSearch(false)
          setUpAlphabet()
          search(currentSearchLetter)
        })
        .catch((error) => console.error('Error:', error))
    }
    
    // MARK: Search
    function search(filter = document.getElementById('search-input').value.trim().length > 0 ? document.getElementById('search-input').value.trim() : currentSearchLetter) {
      var url = "{% url 'dict:filter_lemmas' %}?filter_word=" + encodeURIComponent(filter) + '&search_mode=' + encodeURIComponent(activeSearchMode)
    
      // The data returns the filtered lemmas already in HTML-div form.
      fetch(url)
        .then((response) => response.text())
        .then((data) => {
          var lemmaList = document.getElementById('lemma-list')
          lemmaList.innerHTML = data
          htmx.process(lemmaList)
    
          if (activeId) {
            let active = document.getElementById(activeId)
            if (active) {
              active.click()
            }
          }
    
          if (data === '') {
            document.getElementById('controls-textbox').innerText = '{% trans "No lemmas found." %}'
            document.getElementById('lemma-list').innerHTML = '<div class="flex w-full h-full"><button class="p-1 m-auto font-semibold text-white rounded-md bg-main hover:bg-main" onclick="clearSearch()">{% trans "Clear Search" %}</button></div>'
          } else {
            document.getElementById('controls-textbox').innerText = 'Loaded ' + data.split('\n').length + ' lemmas.'
          }
        })
        .finally(() => {
          insertAlphabetDivider()
    
          if (startUp) {
            let x = document.getElementById('{{lemma_id}}')
            if (x) {
              x.click()
            } else {
              let y = document.querySelector('#lemma-list > div')
              if (y) {
                y.click()
              }
            }
            startUp = false
          }
        })
        .catch((error) => console.error('Error:', error))
    }
    
    function clearSearch(withSearch = true) {
      document.getElementById('search-input').value = ''
    
      if (withSearch) {
        searchWithBypass(currentSearchLetter)
      }
    
      document.getElementById('search-button').setAttribute('disabled', true)
      document.getElementById('clear-search-button').setAttribute('disabled', true)
    }
    
    function changeControls(e) {
      if (e.value.trim().length > 0) {
        document.getElementById('clear-search-button').removeAttribute('disabled')
        document.getElementById('search-button').removeAttribute('disabled')
      } else {
        document.getElementById('clear-search-button').setAttribute('disabled', true)
        document.getElementById('search-button').setAttribute('disabled', true)
      }
    }
    
    function selectSearchMode(e, mode) {
      activeSearchMode = mode
      let searchSettings = document.getElementById('search-settings')
      let searchSettingsLabels = searchSettings.querySelectorAll('label')
      searchSettingsLabels.forEach((label) => {
        label.querySelector('input').checked = false
      })
      e.checked = true
    }
    
    function selectSpecificSearchMode(mode) {
      activeSearchMode = mode
      let searchModes = document.getElementById('search-settings').querySelectorAll('label')
      searchModes.forEach((label) => {
        if (label.querySelector('input').getAttribute('onchange').split("'")[1] === mode) {
          label.querySelector('input').checked = true
        } else {
          label.querySelector('input').checked = false
        }
      })
    }
    
    function searchWithBypass(letter) {
      let currentSearchMode = activeSearchMode
      activeSearchMode = DEFAULT_SEARCH_MODE
      search(letter)
      activeSearchMode = currentSearchMode
    }
    
    // MARK: Lemma list
    function selection(e) {
      // Called from filter_lemmas.py
      activeId = e.id
      currentSearchLetter = e.textContent[0]
      const lemmaList = document.querySelector('#lemma-list')
    
      if (lemmaList) {
        lemmaList.childNodes.forEach((child) => {
          if (child.nodeType === Node.ELEMENT_NODE) {
            child.classList.remove('bg-main')
            child.classList.remove('text-white')
          }
        })
      }
    
      e.classList.add('bg-main')
      e.classList.add('text-white')
    
      lemmaList.scrollTo({
        top: e.offsetTop - lemmaList.offsetTop - 5,
        behavior: 'smooth'
      })
    }
    
    // MARK: Alphabet
    function insertAlphabetDivider() {
      let lemmas = document.querySelectorAll('#lemma-list > div:not(:has(*))')
    
      if (lemmas.length === 0) {
        return
      }
    
      lemmas.forEach((lemma) => {
        let letter = lemma.textContent[0]
    
        let prevLetter = ''
        if (lemma.previousElementSibling) {
          prevLetter = lemma.previousElementSibling.textContent[0]
        }
        if (letter !== prevLetter) {
          let h3 = document.createElement('h3')
          h3.textContent = letter
          h3.classList.add('overflow-hidden', 'text-center', 'text-xs', 'before:bg-black', "before:content-['']", 'before:inline-block', 'before:h-[1px]', 'before:relative', 'before:align-middle', 'before:w-1/2', 'before:right-2', 'before:-ml-[50%]', 'after:bg-black', "after:content-['']", 'after:inline-block', 'after:h-[1px]', 'after:relative', 'after:align-middle', 'after:w-1/2', 'after:left-2', 'after:-mr-[50%]')
    
          document.getElementById('lemma-list').insertBefore(h3, lemma)
        }
      })
    }
    
    function setUpAlphabet() {
      let alphabetParent = document.getElementById('lemma-alphabet-parent')
    
      let alphabetDiv = document.createElement('div')
      alphabetDiv.classList.add('flex', 'flex-col', 'w-24', 'overflow-y-auto', 'rounded-md', 'shadow-sm', 'shadow-black', 'scrollbar-thin')
      alphabetDiv.id = 'lemma-alphabet'
      alphabetDiv.setAttribute('dir', 'rtl')
      alphabetParent.appendChild(alphabetDiv)
    
      alphabetParent.classList.remove('hidden')
    
      if (alphabet.size === 0) {
        alphabetParent.classList.add('hidden')
        return
      }
    
      alphabetParent.innerHTML = ''
    
      alphabet.forEach((letter) => {
        let div = document.createElement('div')
        div.textContent = letter
        div.classList.add('m-1', 'text-center', 'rounded-sm', 'shadow-sm', 'cursor-pointer', 'hover:text-white', 'hover:bg-main', 'shadow-black', 'text-sm')
        div.setAttribute('dir', 'ltr')
        div.addEventListener('click', function () {
          clearSearch(false)
          searchWithBypass(letter)
        })
        alphabetDiv.appendChild(div)
      })
    
      let outerDiv = document.createElement('div')
      outerDiv.classList.add('relative', 'overflow-visible')
    
      let allDiv = document.createElement('div')
      allDiv.textContent = 'all'
      allDiv.classList.add('m-1', 'text-sm', 'font-semibold', 'text-center', 'rounded-sm', 'shadow-sm', 'cursor-pointer', 'hover:text-white', 'hover:bg-main', 'shadow-black', 'peer')
      allDiv.setAttribute('dir', 'ltr')
      allDiv.addEventListener('click', function () {
        clearSearch(false)
        search('')
      })
    
      const span = document.createElement('span')
      span.classList.add('absolute', 'z-50', 'w-20', 'p-1', 'hidden', 'text-sm', 'font-semibold', 'text-center', 'text-white', 'rounded-md', 'select-none', 'left-full', 'top-[15%]', 'peer-hover:block', 'bg-main')
    
      const svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg')
      svg.classList.add('absolute', 'right-[55%]', 'w-full', 'h-2', 'rotate-90', 'text-main', 'bottom-full', 'top-[8%]')
      svg.setAttribute('x', '0px')
      svg.setAttribute('y', '0px')
      svg.setAttribute('viewBox', '0 0 255 255')
    
      const polygon = document.createElementNS('http://www.w3.org/2000/svg', 'polygon')
      polygon.classList.add('fill-current')
      polygon.setAttribute('points', '0,0 127.5,127.5 255,0')
    
      svg.appendChild(polygon)
    
      span.appendChild(svg)
      span.appendChild(document.createTextNode('Expect loading time'))
    
      outerDiv.appendChild(allDiv)
      outerDiv.appendChild(span)
    
      alphabetParent.appendChild(outerDiv)
    
      let border = document.createElement('hr')
      border.classList.add('border-black')
      alphabetParent.appendChild(border)
    
      alphabetParent.appendChild(alphabetDiv)
    }
    
    // MARK: Control buttons
    function scrollToActive() {
      const lemmaList = document.querySelector('#lemma-list')
      const active = lemmaList.querySelector('div > .bg-main')
      if (active) {
        lemmaList.scrollTo({
          top: active.offsetTop - lemmaList.offsetTop - 5,
          behavior: 'smooth'
        })
      }
    }
    
    function scrollToBottom() {
      const lemmaList = document.querySelector('#lemma-list')
      lemmaList.scrollTo({
        top: lemmaList.scrollHeight,
        behavior: 'smooth'
      })
    }
    
    function scrollToTop() {
      const lemmaList = document.querySelector('#lemma-list')
      lemmaList.scrollTo({
        top: 0,
        behavior: 'smooth'
      })
    }
    
    function toggleSearchSettings() {
      document.getElementById('search-settings').classList.toggle('hidden')
    }
  </script>
{% endblock %}
