{% load i18n %}

<div>
  {% if user.is_authenticated %}
    <div class="absolute top-0 right-0 flex flex-row gap-2 m-2">
      <input type="button" hx-get="{% url 'dict:lemma_edit' id %}" hx-target="#lemmaModalContent" hx-trigger="click" class="px-1 py-2 font-semibold text-white rounded-md cursor-pointer bg-off hover:bg-action" onclick="openLemmaModal()" value="{% trans 'Edit Lemma' %}" />
      {% comment %} <input type="button" class="px-1 py-2 font-semibold text-white rounded-md bg-error hover:bg-action" value="Delete Lemma" /> {% endcomment %}
    </div>
  {% else %}
    <div class="absolute top-0 right-0 m-2">
      <div class="p-2 my-1 ml-6 underline rounded-md w-fit bg-slate-300">
        {% trans 'You must be logged in to edit this lemma.' %}
      </div>
    </div>
  {% endif %}
  <h3 class="flex flex-row gap-1 p-2 mb-4 text-4xl text-left bg-white rounded-md w-fit font-bold text-main-dark-graded-900">{{ word }}</h3>
  <div class="flex flex-col h-full gap-2">
    
    <div class="flex flex-row gap-2">
      {% if multiword_expression %}
        <div class="relative flex flex-row cursor-default">
          <div class="p-2 bg-main-dark-graded-300 rounded-md w-fit">
            <span class="font-bold text-white">{% trans 'Multiword Expression' %}</span>
          </div>
        </div>
      {% endif %}
    </div>
    
    
  </div>
  <hr class="w-full mt-5 border-black" />
  <div class="mb-1 font-semibold underline">
    {% trans 'Related lemmas' %}:
  </div>
  <div>
    {% if related_lemmas %}
      <div class="flex flex-row flex-wrap w-full gap-2 p-2">
        {% for related_lemma in related_lemmas %}
          <div class="p-2 rounded-md bg-main w-fit hover:underline hover:cursor-pointer text-white" onclick="changeLemma(this)">{{ related_lemma.word }}</div>
        {% endfor %}
      </div>
    {% else %}
      <div class="p-2">
        {% trans 'No related lemmas found.' %}
      </div>
    {% endif %}
  </div>
  <hr class="w-full mt-5 border-black" />
  <div class="mb-1 font-semibold underline">
    {% trans 'Related senses' %}:
  </div>
  <div>
    {% if related_senses %}
      <div class="flex flex-row flex-wrap gap-2 p-2">
        {% for related_sense in related_senses %}
          <div class="p-2 rounded-md bg-main-graded-800 w-fit text-white">
            {{ related_sense.sense }} <sup>{{ related_sense.language }}</sup>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div>
        {% trans 'No related senses found.' %}
      </div>
    {% endif %}
  </div>
</div>


  <div class="fixed inset-0 z-50 hidden w-full h-full overflow-y-auto bg-gray-600 bg-opacity-50" id="lemmaModal">
    <div class="flex items-center justify-center min-h-screen">
      <div class="p-4 mx-auto bg-white rounded-lg shadow-lg">
        <!-- Modal content here -->
        <div id="lemmaModalContent"></div>
      </div>
    </div>
  </div>
</div>

<script>
  function changeLemma(e) {
    const lemmaList = document.querySelector('#lemma-list')
  
    if (lemmaList) {
      lemmaList.childNodes.forEach((child) => {
        if (child.nodeType === Node.ELEMENT_NODE && child.innerText === e.innerText) {
          child.click()
        }
      })
    }
  }
  
  function openLemmaModal() {
    document.getElementById('lemmaModal').classList.remove('hidden')
  }
  
  function closeLemmaModal() {
    document.getElementById('lemmaModal').classList.add('hidden')
  }
</script>
