{% load i18n %}

<div class="container mx-auto">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  
  <div class="flex flex-row w-full gap-2">
    <div class="w-1/2 px-3 mb-6">
      <div class="p-6 bg-white rounded-lg shadow-md">
        {{ lemma_form.media.css }}
        <h2 class="mb-4 text-lg font-semibold text-gray-800">Lemma Form</h2>
        <form id="lemma-form" method="post" hx-post="{% url 'dict:update_lemma' lemma_form.instance.id %}" hx-target="#lemma-form" hx-swap="outerHTML">
          {% csrf_token %}
          {% for field in lemma_form %}
            <div class="mb-4">
              <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
              {{ field }}
              {% if field.help_text %}
                <p class="mt-2 text-sm text-gray-600">{{ field.help_text }}</p>
              {% endif %}
              {% for error in field.errors %}
                <p class="text-sm text-red-600">{{ error }}</p>
              {% endfor %}
            </div>
          {% endfor %}
          <button type="submit" name="submit_lemma" class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md shadow-sm bg-off hover:bg-off-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">{% trans 'Update Lemma' %}</button>
        </form>
        {{ lemma_form.media.js }}
      </div>
    </div>
    <div class="w-1/2 px-3 mb-6">
      <div class="p-6 bg-white rounded-lg shadow-md">
        {{ sense_form.media.css }}
        <h2 class="mb-4 text-lg font-semibold text-gray-800">Sense Form</h2>
        <form id="sense-form" method="post" hx-post="{% url 'dict:save_sense' %}" hx-target="#sense-form" hx-swap="outerHTML">
          {% csrf_token %}
          {% for field in sense_form %}
            <div class="mb-4">
              <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
              {{ field }}
              {% if field.help_text %}
                <p class="mt-2 text-sm text-gray-600">{{ field.help_text }}</p>
              {% endif %}
              {% for error in field.errors %}
                <p class="text-sm text-red-600">{{ error }}</p>
              {% endfor %}
            </div>
          {% endfor %}
          <button type="submit" name="submit_sense" id="submit_sense" disabled class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md shadow-sm disabled:bg-gray-500 bg-off hover:bg-off-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">{% trans 'Add Sense' %}</button>
        </form>
        {{ sense_form.media.js }}
      </div>
    </div>
  </div>
  <div class="flex justify-end">
    <button onclick="closeLemmaModal()" class="px-4 py-2 mt-4 font-bold text-white rounded bg-error-graded-600 hover:bg-error-graded-800">{% trans 'Close' %}</button>
  </div>
  <script defer>
    document.getElementById('id_sense').addEventListener('input', function (e) {
      if (e.target.value.trim().length > 0) {
        document.getElementById('submit_sense').disabled = false
        return
      }
      document.getElementById('submit_sense').disabled = true
    })
  </script>
</div>
