{% load tailwind_tags %}

<div class="flex justify-center w-full overflow-hidden gap-x-1">
  <div class="w-1 h-4 ease-in-out rounded-md bg-off animate-infinite animate-fade-up animate-delay-0"></div>
  <div class="w-1 h-5 rounded-md bg-off animate-infinite animate-fade-up animate-delay-75"></div>
  <div class="w-1 h-6 rounded-md bg-off animate-infinite animate-fade-up animate-delay-150"></div>
  <div class="w-1 h-5 rounded-md bg-off animate-infinite animate-fade-up animate-delay-[225ms]"></div>
  <div class="w-1 h-4 rounded-md bg-off animate-infinite animate-fade-up animate-delay-300"></div>
</div>
