{% load static i18n %}
{% load django_browser_reload %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% tailwind_css %}
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}treeflow{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Zoroastrian Middle Persian Corpus and Dictionary">
  <meta name="author" content="Francisco Mondaca">
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
</head>

<body>

  <div class="mb-1">
    <nav class="bg-gray-100 px-2 sm:px-4 py-2.5 rounded">
      <div class="container flex flex-wrap items-center justify-between mx-auto">
        <a href="{% url 'home' %}" class="flex items-center">
          <span class="self-center text-xl font-semibold whitespace-nowrap">treeflow</span>
        </a>
        <button data-collapse-toggle="navbarSupportedContent" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-700 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbarSupportedContent" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!-- Icon for menu button here -->
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbarSupportedContent">
          <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
            <li>
              <a href="{% url 'home' %}" class="block py-2 pl-3 pr-4 text-gray-700 rounded md:bg-transparent md:text-gray-700 md:p-0" aria-current="page">Home</a>
            </li>
            <li>
              <a href="{% url 'about' %}" class="block py-2 pl-3 pr-4 text-gray-700 rounded md:bg-transparent md:text-gray-700 md:p-0">About</a>
            </li>
            {% if request.user.is_authenticated %}
            <li>
              <a href="{% url 'users:detail' request.user.username %}" class="block py-2 pl-3 pr-4 text-gray-700 rounded md:bg-transparent md:text-gray-700 md:p-0">{% trans "My Profile" %}</a>
            </li>
            <li>
              <a href="{% url 'account_logout' %}" class="block py-2 pl-3 pr-4 text-gray-700 rounded md:bg-transparent md:text-gray-700 md:p-0">{% trans "Sign Out" %}</a>
            </li>
            {% else %}
            <li>
              <a href="{% url 'account_signup' %}" class="block py-2 pl-3 pr-4 text-gray-700 rounded md:bg-transparent md:text-gray-700 md:p-0">{% trans "Sign Up"%}</a>
            </li>
            <li>
              <a href="{% url 'account_login' %}" class="block py-2 pl-3 pr-4 text-gray-700 rounded md:bg-transparent md:text-gray-700 md:p-0">{% trans "Sign In" %}</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
  
  <div class="container">

    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button"
        class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
    {% endfor %}
    {% endif %}

    {% block content %}
    <h1> Middle Persian Corpus and Dictionary (treeflow)</h1>
    {% endblock content %}

  </div> <!-- /container -->

  {% block modal %}{% endblock modal %}

  {% block inline_javascript %}
  {# Script tags with only code, no src (defer by default) #}
  {% endblock inline_javascript %}

</body>

</html>